.container{
    margin-bottom: 70px;
}
.nav-item{
    padding-top: 20px;
}
.nav-link{
    margin-left: 20px;
}
.carousel-item{
    padding-left: 100px;
}
.step-2{
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: 44%;
}
.card-1 span{
    color: orange;
}
.card{
    border: none;
    box-shadow: 10px 10px 30px lightgray;
}
.card-1 button{
    padding: 10px 60px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-1 p{
    color: gray;
}
.categories h5{
    text-align: center;
}
.bag{
    padding: 30px 40px;
    box-shadow: 5px 5px 20px;
    border-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.perfume{
    box-shadow: 5px 5px 20px;
    padding: 40px 40px;
    border-color: white;
    border-radius: 10px;
}
.shoes{
    box-shadow: 5px 5px 20px;
    border-color: white;
    border-radius: 10px;
    padding: 30px 40px;

}
